body{
    background-color: black;
    
}
h1{
    color:white;
    font-family: "Cascadia Code", "consolas", sans-serif;
}
p{
    color:white;
    font-family: "Cascadia Code", "consolas", sans-serif;
}
#p1{
    color:black;
    background-color: white;
    margin-left: 0;
    margin-right: 40%;
    font-size: 20px;
    font-family: "Cascadia Code", "consolas", sans-serif;

}
#p2{
    color:white;
    font-family: "Literata", "consolas", sans-serif;
    font-weight: 500;
    margin-right: 45%;
}
label{
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 25px;
    font-family: "Cascadia Code", "consolas", sans-serif;
}
button{
    margin-left: 25%;
    margin-right: 25%;
    font-size: 25px;
    color: black;
    text-align: center;
    cursor: pointer;
    background-color: white;
    padding: 8px 15px;
    font-family: "Cascadia Code", "consolas", sans-serif;
}
form{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-family: "Cascadia Code", "consolas", sans-serif;
}
input{
    margin-left: 25%;
    margin-right: 25%;
    border-color: white;
    background-color: black;
    color: white;
    font-size: 15px;
    font-family: "Cascadia Code", "consolas", sans-serif;
}

a{
    color: black;
    font-style: italic;
    text-decoration: none;

}